<section id="home">
  <h2>Welcome!</h2>
  <p>And thank you for visiting our wedding website! </p>
  <p>Probaby a picture here?</p>
  <p>The ceremony and reception will take place here:</p>
  <div class="address">
    <div class="address-title">The Ann Arbor City Club</div>
    <div>1830 Washtenaw Avenue</div>
    <div>Ann Arbor, MI 48104</div>
  </div>
</section>
