<section id="home">
  <h2>Welcome to our Wedding Website!</h2>
  <div class="image-container-center">
    <%= image_tag "home.jpg", alt: "Picture of us :)", size: "400x300" %>
  </div>
  <p>Please feel free to explore the site to find out more about our wedding.</p>
  <p>Ceremony / Reception:</p>
  <div class="address">
    <div class="address-title">The Ann Arbor City Club</div>
    <div>1830 Washtenaw Avenue</div>
    <div>Ann Arbor, MI 48104</div>
  </div>
  <div class="google-map">
    <div id="mapouter"><div id="gmap_canvas"><iframe width="600" height="500" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=Ann Arbor City Club, Ann Arbor, MI, United States, &t=&z=14&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe><a href="http://www.embedgooglemap.net">googlemaps</a></div><style>#gmap_canvas{height:500px;width:600px;}#mapouter{overflow:hidden;height:500px;width:600px;}</style></div>
  </div>
</section>
