<section id="home">
  <h2>Welcome to our Wedding Website!</h2>
  <p>Thank you for visiting our site and helping to make our wedding so special. Please feel free to look around to find more information. We hope to see you August 5th!</p>
  <div class="image-container-center">
    <%= image_tag "home.jpg", alt: "Picture of us :)", size: "675x450" %>
  </div>
  <p>Ceremony / Reception:</p>
  <div class="address">
    <div class="address-title">The Ann Arbor City Club</div>
    <div>1830 Washtenaw Avenue</div>
    <div>Ann Arbor, MI 48104</div>
    <p>Ceremony will begin at 5:30 pm. Reception will follow.</p>
  </div>
  <div class="google-map">
    <div id="mapouter"><div id="gmap_canvas"><iframe width="600" height="500" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=Ann Arbor City Club, Ann Arbor, MI, United States, &t=&z=14&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe><a href="http://www.embedgooglemap.net">googlemaps</a></div><style>#gmap_canvas{height:500px;width:600px;}#mapouter{overflow:hidden;height:500px;width:600px;}</style></div>
  </div>
</section>
