<% provide(:title, 'RSVP Information') %>
<h2>RSVP Information</h2>
<p>Please send us back the RSVP card that came with your invitation by June 1st. Our venue has agreed to help us accomodate any dietary restrictions, so please let us know if you have any allergies, etc. Also let us know if you have any questions, and we look forward to getting your replies!</p>
<div>
  <%= mail_to "ksjr8517@gmail.com", "ksjr8517@gmail.com" %>
</div>

