<h2>Registries</h2>
<p>We are registered at the following stores:</p>
<div class="registry">
  <div class="registry-button">
    <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543741390&pwsurl=" target="_blank">Bed Bath & Beyond</a>
  </div>
  <div class="registry-button">
    <a href="http://www.target.com/gift-registry/giftgiver?registryId=ibPLEoGs8FrRXteVTcAHLQ" target="_blank">Target</a>
  </div>
</div>
