/* sage lemon style */
$background-color: rgba(255, 249, 230, 0.7);
$header-nav-color: #000;
$header-nav-background-color: #dce8a6;
$header-nav-hover-color: #abdcc9;
$header-nav-selected-color: #000;
/* color hex codes 
teal: #abdcc9;
lemon: #fce48e;
sage: #dce8a6;
other thing: #fff1c2;
*/



html, body, ul, ol {
    margin:0;
    padding:0;
}

html {
    /* background image */
    background: image-url("Monet.png") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

/* HTML 5 elements render as block */
header, footer, aside, nav, article {
    display:block;
}

body {
    font: 16px Helvetica, Arial, sans-serif;
    height:100%;
}

body div.content {
    background:$background-color;
    width:940px;
    margin:0 auto;
    padding:10px;
}

h2 {
    font-size:28px;
    line-height:44px;
    padding:12px 0;
}

h3 {
    font-size:18px;
    line-height: 22px;
    padding:11px 0;
}

p {
    padding-bottom:16px;
}

.google-map {
    padding:16px 0px;
}

.image-container-center {
    img {
	display: block;
	margin-right: auto;
	margin-left: auto;	
    }
}

.registry {
    padding-bottom: 16px;
    .registry-button {
	padding: 8px;
    }
}

.photo-container {
    padding: 8px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    img {
	width: 100%;
	height: auto;
    }
}


/* header style */
header {
    margin-bottom: 66px;
    nav {
	position:absolute;
	left:0;
	width:100%;
	ul {
	    margin: 0 auto;
	    width:940px;
	    list-style:none;

	    li {
		float: left;
		background:$header-nav-background-color;
		width: 16.5%;
		a {
		    display:block;
		    margin-right:20px;
		    /* width: 20%; */
		    font-size:14px;
		    line-height:44px;
		    text-align:center;
		    text-decoration:none;
		    color: $header-nav-color;
		    &:hover {
			color: $header-nav-hover-color;
		    }
		}
		&:selected {
		    a {
			color: $header-nav-selected-color;
		    }
		}
	    }
	}
    }
}

/* footer style */