<section id="hotels">
  <h2>Hotels</h2>
  <h4>Hotel Block</h4>
  <div class="address">
    <div class="address-title">Holiday Inn Ann Arbor-Near The Univ. Of Mi</div>
    <div>3600 Plymouth Road</div>
    <div>Ann Arbor, MI 48105</div>
  </div>
  <p>We have rooms in the block for Friday 8/4 and Saturday 8/5.</p>
  <%= image_tag "holiday-inn-ann-arbor.jpg", alt: "Holiday Inn Ann Arbor", size: "400x300" %>
  <div style="padding-top:10px">
    <a href="http://ichotelsgroup.com/redirect?path=rates&amp;brandCode=HI&amp;GPC=SRW&amp;hotelCode=ARBNC&amp;_PMID=99801505" class="gmail_msg" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://ichotelsgroup.com/redirect?path%3Drates%26brandCode%3DHI%26GPC%3DSRW%26hotelCode%3DARBNC%26_PMID%3D99801505&amp;source=gmail&amp;ust=1490028216654000&amp;usg=AFQjCNEH9R1vFmA0Oe314FH_ihUyLqbq5w">Book your room</a>
  </div>
  
  <p>Please note: Link will not work on mobile devices.</p>
  <div class="google-map">
    <p>If you would prefer to stay somewhere else, there are more options below.</p>
    <div id="mapouter"><div id="gmap_canvas"><iframe width="600" height="500" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=hotels in ann arbor mi, &t=&z=12&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe><a href="http://www.embedgooglemap.net">how to embed google maps</a></div><style>#gmap_canvas{height:500px;width:600px;}#mapouter{overflow:hidden;height:500px;width:600px;}</style></div>
  </div>
</section>

